<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <!--控制台中输出-->
    <target name="console" xsi:type="ColoredConsole"
            layout="[${level}] ${message} ${exception:format=ShortType,Message,StackTrace}" />

    <!--写入文件-->
    <target name="file" xsi:type="File"
            fileName="${basedir}/logs/WeChat_public_platform_test.log"
            layout="[${date:format=MM-dd HH\:mm\:ss}][${level}] ${message} ${exception:format=ShortType,Message,StackTrace}"
            deleteOldFileOnStartup="false"
            archiveFileName="${basedir}/log/WeChat_public_platform_test{#####}.log"
            archiveAboveSize="20480000"
            archiveNumbering="Sequence"
            encoding="utf-8" />
    <!--</target>-->

  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
